@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(0, 0, 0); */
  /* background: linear-gradient(163deg, rgba(34,0,232,1) 0%, rgba(9,9,121,1) 0%, rgba(2,0,21,1) 100%); */
}
.jsoneditor{
  border-color: #0f172a !important;
}
.jsoneditor-menu{
  background-color: #011e3a !important;
  border-color: #0f172a !important;
}
.jsoneditor-statusbar{
  background-color: #011e3a !important;
  border-color: #0f172a !important;
  color: #b0b0b0 !important;
}
.jsoneditor-poweredBy{
  display: none;
}
.btn{
  padding: 10px 15px;
  background: #121212;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 44px;
  justify-content: center;
}

.btn:hover{
  background: #222;
}

.delete-marker{
  position: absolute;
  background-color: #dc26261e;
}
.ace_dark .delete-marker{
  background-color: #ff000039;
}
.new-marker{
  position: absolute;
  background-color: #00ff801a;
}
.ace_dark .new-marker{
  background-color: #00ff8037;
}
.replace-marker{
  position: absolute;
  background-color: #0ea4e928;
}
.ace_dark .replace-marker{
  background-color: #0ea4e982;
}
