.monaco-editor{
    padding-top: 10px;
}
.json-editor-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02),
    0 2px 4px 0 rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    overflow: hidden;
}
.json-editor-container.fullscreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}
.editor-toolbar {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    /* margin-bottom: 10px; */
    background-color: #0f172b;
    padding-left: 10px;
    align-items: center;
}
.full-screen{
    margin-left: auto;
    margin-right: 10px;
  }